<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033006601423-onsfht0jtdvqruifdajps1isdt0ha1lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033006601423-onsfht0jtdvqruifdajps1isdt0ha1lq</string>
	<key>API_KEY</key>
	<string>AIzaSyBUeuR4O4pFfCXeIfpCJ4NF_i4JrbTKRb8</string>
	<key>GCM_SENDER_ID</key>
	<string>1033006601423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeacademy.socialnetwork</string>
	<key>PROJECT_ID</key>
	<string>codeacademysocialnetwork</string>
	<key>STORAGE_BUCKET</key>
	<string>codeacademysocialnetwork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033006601423:ios:3fd8c55bfd9a0df51fd3ba</string>
	<key>DATABASE_URL</key>
	<string>https://codeacademysocialnetwork.firebaseio.com</string>
</dict>
</plist>